<!DOCTYPE html>
<html>
  <head>
    <title>GoodNightApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-gradient-to-br from-night-blue via-purple-900 to-indigo-900 min-h-screen text-white">
    <%= yield %>
  </body>
</html>
